@font-face {
    font-family: planetiumx;
    src: url('Planetium-X_Regular_Demo.otf');
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

header, footer{
    width: 94%;
    padding: 3%;
}

header {
    font-size: 40px;
}

span {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10;
    padding: 10px;
}

#notfound {
    visibility: hidden;
    /*font-weight: bold;*/
    background: #555555;
    color: #010101;
    border: 3px solid #010101;
    margin: auto;
    width: 320px;
    align: center;
    margin-top: 5px;
}

#notfound.error-state {
    visibility: visible;
}

.youtube-searcher-app {
    background: linear-gradient(328deg, rgb(153, 146, 161) 0%, rgba(31, 219, 203, 0.71) 51%, #2ce8cc 75%);
    font-family: planetiumx, Tahoma, Geneva, sans-serif;
}

.api-form, .search-form {
    text-align: center;
    padding: 10px;
}

.content-area {
    display: flex;
    padding: 5px 5px 5px 5px;
}

.list-of-results {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 10px 0 10px;    
}

.result {
    display: flex;
    margin: 5px 0px 5px 0px;
    background:rgba(0,0,0,0.1);
    cursor: pointer;
    flex-basis: 30%;
    flex-grow: 1;
}

.result:hover {
    background: rgba(0,0,0,0.3);
}

.video-player { 
    position: relative; 
    padding-bottom: 42.2%; 
    flex: 5; 
    overflow: hidden; 
    margin: 0 5px 0 5px;
    background: rgba(0,0,0,0.1);
}  

.video-player iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.watch-select-form {
    display: flex;
    text-align: center;
    align-self: center;
    flex-grow: 1;
}

.title {
    flex-basis: 100%;
}

@media (max-width: 1230px) {
    span {
        font-size: 13px;
    }
}

@media (max-width: 1060px) {

    .list-of-results {
        flex-direction: row;
    }

    .content-area {
        display: inline;
    }

    .result {
        margin: 5px 5px 5px 5px;
    }
}

@media (max-width: 777px) {
    .list-of-results {
        flex-wrap: wrap;
    }

    span {
        font-size: 15px;
    }
}